PORT=3000

OPENWEATHER_API_KEY=YOUR_OPEN_WEATHER_MAP_API_KEY

AUTH0_DOMAIN=dev-deyrn1jbhpjqwz4m.us.auth0.com
AUTH0_AUDIENCE=https://api.weather-analytics.com
AUTH0_ISSUER=https://dev-deyrn1jbhpjqwz4m.us.auth0.com/

CACHE_TTL=300